.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:16px;padding:8px 13px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:white;}
.tg .tg-blanks{font-size:16px;background-color:white;color:white;border-color:white !important;text-align:center;vertical-align:middle}
.tg .tg-text{font-size:24px;background-color:white;color:#002147;border-color:white !important;text-align:center;vertical-align:middle}
.tg .tg-oxfd{font-size:16px;background-color:#002147;color:#888888;border-color:white !important;text-align:center;vertical-align:middle}
.tg .tg-oxfd-p{font-size:16px;background-color:#002147;color:white;font-weight:bold;border-color:white !important;text-align:center;vertical-align:middle}
.tg .tg-camb{font-size:16px;background-color:#a3c1ad;color:white;font-weight:bold;border-color:white !important;text-align:center;vertical-align:middle}
.tg-camb-r{font-size:16px;background-color:#a3c1ad;border-color:white !important;text-align:center;vertical-align:middle;color:#888888;text-decoration:line-through;font-weight:normal;}
.cross-it{color:#888888;text-decoration:line-through;font-weight:normal;}
.locker-comment{font-size:8px;}
