#regattas-table
{
  border: 3px solid blue;
}

#regattas-table th, td {
  padding: 5px;
}

#regattas-table tbody tr:nth-child(odd) {
  background-color: #cccccc;
}

#regattas-table tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

#regattas-table th {
  letter-spacing: 5px;
}
